<h1 align="center">The income of Company</h1>

<table mat-table>
	<!-- Table Header -->
	<thead>
	  <tr>
		<th>Company Name</th>
		<th colspan="2" *ngFor="let month of months">{{ month }}</th>
	  </tr>
	  <tr >
		<th></th>
		<th>Income</th>
		<th>Profit</th>
	  </tr>
	</thead>
  
	<!-- Table Body -->
	<tbody>
	  <tr *ngFor="let item of companyData">
		<td>{{ item.name }}</td>
		<td *ngFor="let month of months">
		  <div *ngIf="item.data[month]">
			Income: {{ item.data[month].income }} <br>
			Profit: {{ item.data[month].profit }}
		  </div>
		  <div *ngIf="!item.data[month]">
			No Data
		  </div>
		</td>
	  </tr>
	</tbody>
</table>